
<div class="grid" >
  <p id="demo"></p>
  <div id="quiz">
    <h1>Quiz</h1>
    <hr style="margin-bottom: 20px">

    <p id="question"> {{questionText}}</p>

    <div class="buttons">
      <!-- <button *ngFor="let answer of Answers; let i = index" [attr.id]="btn{{i}}" click="verifiyAnswerGiven({{i}})">
        <span id="choice{{i}}"> {{ answer }} </span>
      </button> -->

      
      <button *ngFor="let answer of Answers; let i = index" id="btn{{i}}" (click)="verifyAnswerGiven(i)">
       
          <span id="choice{{i}}"> {{ answer }} </span>
          <br> <br ><br>
        </button>
    </div>

    <hr style="margin-top: 50px">
    <footer>
      <p id="progress">Questionszzzzz  {{count + 1 }}  of 4</p>
    </footer>
  </div>
</div>
