.signup-form{
    display:block ;
    margin: 0 auto;
    min-width: 200px;
    width:50%;
    margin-top: 50px;
}

.signup-form form{
    margin-top:50px;
}

.error-message{
    color:red;
    font-weight: 900;
}
.success-message{
    color:green;
}